

@{
    ViewBag.Title = "كتيب";
}
<link href="~/Content/info.css" rel="stylesheet" />

<meta charset="utf-8" />


<meta name="viewport" content="width=device-width, initial-scale=1.0">

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")






<div class="namecourse">كتيب</div>
<hr>



<div class="col-md-12">

    <div class="col-md-4 contact">
        <div class="one">
            <h3>     <a href="~/Images/TBC.pdf">   <img src="~/Images/tbc-logo-ar.png" style=" width: 160px; height: 80px;" /><br><br>مركز الأعمال السياحية </a> </h3>

        </div>
    </div>

    <div class="col-md-4 contact">
        <div class="one">

       


            <h3>   <a href="~/Images/Tamkeen profile.pdf">  <img src="~/Images/THR-logo2.png" style=" width: 120px; height: 80px;" /> <br><br>تمكين للموارد البشرية </a></h3>
        </div>
    </div>


</div>