

@{
    ViewBag.Title = "انفوجرافيك";
}

<link href="~/Content/Site2.css" rel="stylesheet" />

<meta charset="utf-8" />


<meta name="viewport" content="width=device-width, initial-scale=1.0">

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")





<div class="name">تواصل معنا </div>
<hr>

<div class="col-md-12">

    <div class="col-md-4 contact">
        <div class="one">
            <img src="~/Images/Location.png" style=" width: 60px; height: 60px;" />
            <h2> العنوان </h2>
            <h4> المملكة العربية السعودية - الرياض  </h4>
        </div>
    </div>


    <div class="col-md-4 contact">
        <div class="tow">
            <img src="~/Images/phone.png"  style=" width: 60px; height: 60px;" />
            <h2> اتصل بنا </h2>
            <h3> 0509647800 </h3>
        </div>
    </div>

    <div class="col-md-4 contact">
        <div class="three">
            <img src="~/Images/Message.png" style=" width: 60px; height: 60px;" />
            <h2> راسلنا </h2>
            <h3> g.naba.saeed@gmail.com </h3>
        </div>
    </div>

</div>


