


@{
    ViewBag.Title = "الصفحة الرئيسية";
}
    <link href="~/Content/Site3.css" rel="stylesheet" />
<meta charset="utf-8" />


<meta name="viewport" content="width=device-width, initial-scale=1.0">

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")




<a href="~/Home/Index"><img src="~/Images/4104.jpg" style=" vertical-align: middle; margin-left: 100px; width: 1000px;height: 500px;" /></a>
<br>
<br>
<br>
<div class="namecourse">أهلاً وسهلاً بــك هنـا تجـد أعمالي</div>

@*<a href="~/Home/Index"> أهلاً وسهلاً بــك هنـا تجـد أعمالي   </a>*@
@*<a href="~/Images/Tamkeen5.PNG"><img src="~/Images/Tamkeen5.PNG" style="width:200px;height:200px; margin-left:80px; margin-bottom:70px;" /></a>*@