

@{
    ViewBag.Title = "انفوجرافيك";
}
<link href="~/Content/info.css" rel="stylesheet" />


<meta charset="utf-8" />


<meta name="viewport" content="width=device-width, initial-scale=1.0">

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")






<div class="namecourse">انفوجرافيك</div>
<hr>




<a href="~/Images/Tamkeen5.PNG"><img src="~/Images/Tamkeen5.PNG" style="width:200px;height:200px; margin-left:80px; margin-bottom:70px;" /></a>
<a href="~/Images/a1.png"> <img src="~/Images/a1.png" style="width:200px;height:200px; margin-left:80px; margin-bottom:70px;" /></a>




<a href="~/Images/b1.PNG"><img src="~/Images/b1.PNG" style="width:200px;height:200px; margin-left:80px; margin-bottom:70px;" /></a>

<a href="~/Images/Tamkeen4.PNG"><img src="~/Images/Tamkeen4.PNG" style="width:200px;height:200px; margin-left:80px; margin-bottom:70px;" /></a>


<a href="~/Images/c1.png"><img src="~/Images/c1.png" style="width:200px;height:200px; margin-left:80px; margin-bottom:70px;" /></a>


<a href="~/Images/d1.png"><img src="~/Images/d1.png" style="width:200px;height:200px; margin-left:80px; margin-bottom:70px;" /></a>

<a href="~/Images/Tamkeen3.PNG"><img src="~/Images/Tamkeen3.PNG" style="width:200px;height:200px; margin-left:80px; margin-bottom:70px;" /></a>

<a href="~/Images/e1.PNG"><img src="~/Images/e1.PNG" style="width:200px;height:200px; margin-left:80px; margin-bottom:70px;" /></a>




<a href="~/Images/g1.png"><img src="~/Images/g1.png" style="width:200px;height:200px; margin-left:80px; margin-bottom:70px;" /></a>



<a href="~/Images/f1.PNG"><img src="~/Images/f1.PNG" style="width:200px;height:200px; margin-left:80px; margin-bottom:70px;" /></a>


<a href="~/Images/i1.PNG"><img src="~/Images/i1.PNG" style="width:200px;height:200px; margin-left:80px; margin-bottom:70px;" /></a>




<a href="~/Images/Tamkeen2.PNG"><img src="~/Images/Tamkeen2.PNG" style="width:200px;height:200px; margin-left:80px; margin-bottom:70px;" /></a>

<a href="~/Images/l1.png"><img src="~/Images/l1.png" style="width:200px;height:200px; margin-left:80px; margin-bottom:70px;" /></a>








<a href="~/Images/n1.png"><img src="~/Images/n1.png" style="width:200px;height:200px; margin-left:80px; margin-bottom:70px;" /></a>
<a href="~/Images/Tamkeen1.PNG"><img src="~/Images/Tamkeen1.PNG" style="width:200px;height:200px; margin-left:80px; margin-bottom:70px;" /></a>








<a href="~/Images/o1.png"><img src="~/Images/o1.png" style="width:200px;height:200px; margin-left:80px; margin-bottom:70px;" /></a>
<a href="~/Images/h1.png"><img src="~/Images/h1.png" style="width:200px;height:300px; margin-left:80px; margin-bottom:70px;" /></a>
<a href="~/Images/j1.png"><img src="~/Images/j1.png" style="width:200px;height:300px; margin-left:80px; margin-bottom:70px;" /></a>

<a href="~/Images/k1.png"><img src="~/Images/k1.png" style="width:200px;height:300px; margin-left:80px; margin-bottom:70px;" /></a>
<a href="~/Images/m1.png"><img src="~/Images/m1.png" style="width:200px;height:300px; margin-left:80px; margin-bottom:70px;" /></a>
