

@{
    ViewBag.Title = "شعارات";
}
<link href="~/Content/info.css" rel="stylesheet" />

<meta charset="utf-8" />


<meta name="viewport" content="width=device-width, initial-scale=1.0">

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")






<div class="namecourse">شعارات</div>
<hr>

<img src="~/Images/1.png" style="width:200px;height:200px; margin-left:130px; margin-bottom:70px;" />



<img src="~/Images/2.png" style="width:200px;height:200px; margin-left:130px; margin-bottom:70px;" />




<img src="~/Images/3.png" style="width:200px;height:200px; margin-left:130px; margin-bottom:70px;" />



<img src="~/Images/4.png" style="width:200px;height:200px; margin-left:130px; margin-bottom:70px;" />




<img src="~/Images/5.png" style="width:200px;height:200px; margin-left:130px; margin-bottom:70px;" />




<img src="~/Images/6.png" style="width:200px;height:200px; margin-left:130px; margin-bottom:70px;" />




<img src="~/Images/7.png" style="width:200px;height:200px; margin-left:130px; margin-bottom:70px;" />




<img src="~/Images/8.png" style="width:200px;height:200px; margin-left:130px; margin-bottom:70px;" />




<img src="~/Images/9.png" style="width:200px;height:200px; margin-left:130px; margin-bottom:70px;" />


<img src="~/Images/10.png" style="width:200px;height:200px; margin-left:130px; margin-bottom:70px;" />



<img src="~/Images/11.png" style="width:200px;height:200px; margin-left:130px; margin-bottom:70px;" />



<img src="~/Images/12.png" style="width:200px;height:200px; margin-left:130px; margin-bottom:70px;" />





