

@{
    ViewBag.Title = "موشن جرافيك";
}
<link href="~/Content/Site3.css" rel="stylesheet" />
<meta charset="utf-8" />


<meta name="viewport" content="width=device-width, initial-scale=1.0">


@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")






<div class="namecourse">موشن جرافيك </div>
<hr>



<div class="col-md-12">

    <div class="col-md-3 index ">


        <video controls="controls">
            <source src="~/Video/a.mp4" type="video/mp4" />
        </video>

        <div class="subnamecourse">

            أهمية الكليتين
        </div>
    </div>


    <div class="col-md-3 index ">

        <video controls="controls">
            <source src="~/Video/b.mp4" type="video/mp4" />
        </video>


        <div class="subnamecourse">

            ملوك السعودية
        </div>
    </div>



    <div class="col-md-3 index ">
        <video controls="controls">
            <source src="~/Video/c.mp4" type="video/mp4" />
        </video>



        <div class="subnamecourse">

            العاملة المنزلية


        </div>
    </div>


</div>



<div class="col-md-12">

    <div class="col-md-3 index ">

        <video controls="controls">
            <source src="~/Video/d.mp4" type="video/mp4" />
        </video>

        <div class="subnamecourse">
            رمضان مبارك
        </div>
    </div>

    <div class="col-md-3 index ">

        <video controls="controls">
            <source src="~/Video/e.mp4" type="video/mp4" />
        </video>

        <div class="subnamecourse">
            عيد مبارك
        </div>
    </div>

    <div class="col-md-3 index ">


        <video controls="controls">
            <source src="~/Video/f.mp4" type="video/mp4" />
        </video>

        <div class="subnamecourse">

            قطاع الأعمال
        </div>
    </div>



</div>




<div class="col-md-12">

    <div class="col-md-3 index ">


        <video controls="controls">
            <source src="~/Video/g.mp4" type="video/mp4" />
        </video>

        <div class="subnamecourse">

            هيئة الطيران المدني
        </div>
    </div>

    <div class="col-md-3 index ">
        <video controls="controls">
            <source src="~/Video/h.mp4" type="video/mp4" />
        </video>


        <div class="subnamecourse">

            شركة التسويق
        </div>
    </div>

    <div class="col-md-3 index ">

        <video controls="controls">
            <source src="~/Video/i.mp4" type="video/mp4" />
        </video>


        <div class="subnamecourse">

            موبايلي
        </div>
    </div>



</div>


<div class="col-md-12">

    <div class="col-md-3 index ">



        <video controls="controls">
            <source src="~/Video/j.mp4" type="video/mp4" />
        </video>

        <div class="subnamecourse">

            سابك
        </div>
    </div>

    <div class="col-md-3 index ">

        <video controls="controls">
            <source src="~/Video/k.mp4" type="video/mp4" />
        </video>

        <div class="subnamecourse">

            الخطوط للإستقدام
        </div>
    </div>

    <div class="col-md-3 index ">


    </div>



</div>